/* google app engine for flask */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

body {
  background-image: url('/static/img/Background2.png');
  /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* #ffd858 */
.form-container {
  background-color: #c2c1bfd9;
  color: #545454;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0%);
}

#result-pane-insert {
  margin-top: 10px;
  background-color: #d8d7d7;
  padding: 10px;
  border-radius: 10px;
}

.result-attr {
  font-size: 16px;
  font-weight: 600;
}

/* Styling for the form elements */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-size: 20px;
}

input[type="text"],
select {
  background-color: #e7e7e7;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 85%;
  font-size: 16px;
}



select {
  width: 10%;
}

input[type="submit"] {
  background-color: #8ac756;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

input[type="submit"]:hover {
  background-color: #80b84f;
}

input[type="submit"]:active {
  background-color: #66933f;
}

.index-label {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  background-color: #545454;
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
}



.doctype-label {
  margin: 5px;
  padding: 5px;
  background-color: #c2c1bf00;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}

.doctype-label.md {
  background-color: rgb(126, 124, 124);
}

.doctype-label.gdoc {
  background-color: rgb(0, 166, 255);
}

.doctype-label.github {
  background-color: rgb(76, 76, 76);
}

.doctype-label.org {
  background-color: rgb(66, 16, 116);
}

.doctype-label.unknown {
  background-color: rgb(0, 0, 0);
}

.result-msg {
  font-size: 17px;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #cfcfcf;
}

tr:hover {
  background-color: #c3c2c2;
}

th {
  background-color: #4CAF50;
  color: white;
}


/* loader from codepen */

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 450ms infinite linear;
  -moz-animation: spinner 450ms infinite linear;
  -ms-animation: spinner 450ms infinite linear;
  -o-animation: spinner 450ms infinite linear;
  animation: spinner 450ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

input[type="checkbox"] {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

.page_title_search_form {
  display: inline;

}

.page_search {
  width: 11%;
}

button {
  background-color: #02bda1;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

button:hover {
  background-color: #017e6b;
}

button:active {
  background-color: #01574a;
}

.delete {
  background-color: rgb(209, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

.delete:hover {
  background-color: rgb(163, 0, 0);
}

.delete:active {
  background-color: rgb(118, 1, 1);
}

.accessibility-label {
  margin: 5px;
  padding: 5px;
  background-color: #c2c1bf00;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}

.accessibility-label.public {
  background-color: #79dc41;
}

.accessibility-label.private {
  background-color: #ff3140;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #c2c1bf;
  color: #545454;
  padding: 20px;
  border-radius: 10px;
  margin: 5% auto 15% auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.animate {
  -webkit-animation: animatezoom 0.1s;
  animation: animatezoom 0.1s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

.bottom-button {
  margin-top: 5px;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
}

.bottom-button:disabled {
  background-color: #c2c1bf;
  color: #545454;
  cursor: not-allowed;
}

.url-input {
  width: 60% !important
}

.page-title-input {
  width: 25% !important;
  margin-left: 5px;
}