<!DOCTYPE html>
<html>
  <head>
    <title>Insert document</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/insert_doc.css" />
  </head>
  <body>
    <div class="loading" id="loader">Loading&#8230;</div>
    <div class="navbar-no-shadow">
      <div
        af-el="navbar"
        data-animation="default"
        data-collapse="medium"
        data-duration="400"
        data-easing="ease"
        data-easing2="ease"
        role="banner"
        class="navbar-no-shadow-container w-nav"
      >
        <div class="navbar-wrapper">
          <img
            src="/static/download.png"
            loading="lazy"
            width="80"
            af-el="nav-img"
            alt=""
          />
          <div af-el="nav-title" class="text-block">Document Search</div>
          <div style="float: right; margin-left: auto">
            <span style="color: white; font-size: 20px">{{ user_name }}</span>
            <script>
              function deleteCookies() {
                var allCookies = document.cookie.split(';');
                
                // The "expire" attribute of every cookie is 
                // Set to "Thu, 01 Jan 1970 00:00:00 GMT"
                for (var i = 0; i < allCookies.length; i++)
                    document.cookie = allCookies[i] + "=;expires="
                    + new Date(0).toUTCString();
  
            }
  
              function logout() {
                deleteCookies();
                window.location.href = "/insert_doc/logout";
              }
            </script>
            <button class="insert-doc-button" onclick="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-container">
      <h2>Insert Document</h2>
      <form method="POST" action="/insert_doc/protected_area">
        <label for="division_count">Select Document Count
        <select name="division_count" id="division_count">
            {% for i in range(1, 11) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
      </label>
        <div id="divisionContainer"></div>
        <input type="submit" value="Submit">

      </form>
      <script src="/static/add_url.js"></script>

      {% if result is not none %}
      <div id="result-pane"></div>
      <script>

        function generateTable(data) {
            let table = '<table>';
            table += '<tr><th>Document</th><th>Accessibility</th><th>Sections</th></tr>';
            
            for (const item of data) {
                table += `<tr>`;
                table += `<td><a href="${item.base_url}" target='_blank'>${item.page_title}</a></td>`;
                table += `<td>${item.accessibility}</td>`;
                table += `<td>${item.sections}</td>`;
                table += `</tr>`;
            }
            
            table += '</table>';
            return table;
        }

        var result = JSON.parse(`{{ result | tojson | safe}}`);
        let resultPane = document.getElementById("result-pane");
        // alert(result);
        if (result.hasOwnProperty("error")) {
          resultPane.innerHTML += "<h3>Error occurred</h3>";
          resultPane.innerHTML += "<span class='result-attr'>Message</span>";
          resultPane.innerHTML += `<p class='result-msg'>${result.message}</p>`;
          resultPane.innerHTML +=
            "<span class='result-attr'>Status Code</span>";
          resultPane.innerHTML += `<p class='result-msg'>${result.status_code}</p>`;
        } else {
          resultPane.innerHTML += "<h3>Success</h3>";
          resultPane.innerHTML += "<span class='result-attr'>Message</span>";
          resultPane.innerHTML += `<p class='result-msg'>${result.message}</p>`;
          resultPane.innerHTML += generateTable(result["result"])
        }
      </script>
      {% endif %}
    </div>
  </body>
</html>
