<!DOCTYPE html>
<html>
  <head>
    <title>Document Search</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/img/favicon.ico"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/insert_doc.css" />
    <style></style>
  </head>
  <body>
    <script src="/static/js/document_type.js"></script>
    <div class="loading" id="loader">Loading&#8230;</div>
    <div id="id01" class="modal">
      <div class="modal-content animate">
        <h2>Insert / Update Document(s)</h2>
        <form>
          <label for="division_count"
            >Select Document Count
            <select name="division_count" id="division_count">
              {% for i in range(1, 11) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </label>
          <div id="divisionContainer"></div>
          <input id="insert-button" type="submit" value="Submit" />
        </form>
        <script src="/static/js/add_url.js"></script>
        <div id="result-pane-insert"></div>
        <script src="/static/js/insert_pane.js"></script>
      </div>
    </div>
    <div class="navbar-no-shadow">
      <div
        af-el="navbar"
        data-animation="default"
        data-collapse="medium"
        data-duration="400"
        data-easing="ease"
        data-easing2="ease"
        role="banner"
        class="navbar-no-shadow-container w-nav"
      >
        <div class="navbar-wrapper">
          <img
            src="/static/img/download.png"
            loading="lazy"
            width="80"
            af-el="nav-img"
            alt=""
          />
          <div af-el="nav-title" class="text-block">Document Search</div>
          <div style="float: right; margin-left: auto">
            <span style="color: white; font-size: 20px">{{ user_name }}</span>
            <script src="/static/js/logout.js"></script>
            <button class="insert-doc-button" onclick="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-container">
      <form class="page_title_search_form" id="myForm">
        <input
          type="text"
          placeholder="Search with page title..."
          id="search_query"
        />
        <button type="submit" class="page_search">Search</button>
        <button type="button" id="reload" title="Refresh">&#x21bb;</button>
        <button id="modal-button" style="float: right">
          Insert documents with URL
        </button>
      </form>
      <button id="postButton">Update documents</button>
      <button id="deleteButton" class="delete">Remove documents</button>
      <div id="result-pane"></div>
      <center>
        <button
          class="bottom-button"
          id="prev-button"
          style="margin-bottom: 5px"
          title="Previous page"
        >
          &laquo;
        </button>
        <button
          class="bottom-button"
          id="next-button"
          style="margin-bottom: 5px"
          title="Next page"
        >
          &raquo;
        </button>
        <p id="page-text" style="font-size: 16px"></p>
      </center>
      <script src="/static/js/main.js"></script>
    </div>
    <br />
    <br />
    <br />
  </body>
</html>
